<div class="text-center text-white">
  <h1>Upload Photo</h1>
  <br>
</div>
<div class="container text-white">
  <%= bootstrap_form_for @skins, layout: :horizontal do |f| %>
    <%= f.alert_message 'Please fix the errors below.' %>
    <%= f.file_field :photo %>
    <%= f.file_field :file %>
    <%= f.text_field :name %>

    <div class="modes">
      <%= f.check_box :standart %>
      <%= f.check_box :mania %>
      <%= f.check_box :taiko %>
      <%= f.check_box :catch %>
    </div>
    <%= f.submit 'Upload' %>
  <% end %>
</div>
