<div class="content container">
  <div class="container">
    <div class="row">
        <div class="col-sm">
          <%= image_tag @skins.photo_url, class: 'img-responsive photos', width: '720' %>
        </div>
        <div class="card panel col" style="width: 18rem;">
          <div class="card-header">
            info
          </div>
          <ul class="list-group list-group-flush panel">
            <li class="list-group-item text-white"><%= @skins.name %></li>
            <% if @skins.standart? %>
              <li class="list-group-item text-white">standart</li>
            <% end %>
            <% if @skins.taiko? %>
              <li class="list-group-item text-white">taiko</li>
            <% end %>
            <% if @skins.mania? %>
              <li class="list-group-item text-white">mania</li>
            <% end %>
            <% if @skins.catch? %>
              <li class="list-group-item text-white">catch</li>
            <% end %>
          </ul>
          <%= link_to @skins.file.filename, url_for(@skins.file), class:"btn btn btn-success dl-btn message-file" %>
          <% if user_signed_in? %>
            <div class="card-body">
                <%= link_to "Edit", edit_skin_path(@skins), class:"card-link" %></p>
                <%= button_to "Destroy", @skins , method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %></p>
            </div>
          <% end %>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  <div class="admin">
    <% if user_signed_in? %>
      <p><%= link_to "Edit", edit_skin_path(@skins) %></p>
      <p><%= button_to "Destroy", @skins , method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
</div>
